.table {
  display: flex;
  flex-wrap: wrap;
}

.App{
  padding: 32px;
  background-color: #ccc;
}

.column-results{
  display: flex;
  flex-direction: column;
}

.movies-count-row{
  justify-content: space-between;
  display: flex;
  flex: 1;
  align-items: center;
  margin: 8px;
}